@font-face {
    font-family: 'Netflix Sans'; 
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Lt.eot');
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Lt.eot?#iefix') format('embedded-opentype'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF2/NetflixSans_W_Lt.woff2') format('woff2'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF/NetflixSans_W_Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans'; 
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Md.eot');
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Md.eot?#iefix') format('embedded-opentype'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF2/NetflixSans_W_Md.woff2') format('woff2'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF/NetflixSans_W_Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans'; 
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Bd.eot');
    src: url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/EOT/NetflixSans_W_Bd.eot?#iefix') format('embedded-opentype'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF2/NetflixSans_W_Bd.woff2') format('woff2'),
         url('https://ae.nflximg.net/monet/fonts/ltmd-bld/Web/WOFF/NetflixSans_W_Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}